*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{

  background-color: blue;
  padding: 3rem;
  

  .header_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: honeydew;
    
   
  }
}